syntaxtree/*
visitor/*
Mini*
Token*
Parse*
JavaChar*
*.class
src/*.class
out*
*testsuite
.gitignore
llvm-examples
mainexe
*.ll
test_java_files
testllvm.sh
testllvm2.sh
Example_copy.java
minijava-examples-new/.ll